<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/header.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>
    <div class="header_bar">
        <div class="header_padding">

            <div class="first_section">
                <p id="one">
					<a th:if="${session.isLogOn == null}" href="/member/login">로그인</a>
					<a th:if="${session.isLogOn != null}" href="/member/logout">로그아웃</a>
                </p>&nbsp;&nbsp;
                
                <p id="two">
                	<a th:if="${session.isLogOn == null}" href="/member/insertForm">회원가입</a>
					<a th:if="${session.isLogOn != null}" href="/member/modMember">정보수정</a>
                </p>&nbsp;&nbsp;
                <p>장바구니</p>&nbsp;&nbsp;
                <p><a href="/member/memberList">마이페이지</a></p>&nbsp;&nbsp;
                <div class="second_section">
                    <a href="#"><img src="../img/top_sns01.gif"></a>
                    <a href="#"><img src="../img/top_sns02.gif"></a>
                    <a href="#"><img src="../img/top_sns03.gif"></a>
                    <a href="#"><img src="../img/top_sns04.gif"></a>
                </div>
            </div>
            <div class="search_mode">
                <input type="text" class="searchbar" placeholder="#커피랩  #스페셜" maxlength="11" size="23" />
                <img src="../img/topserch_b.png" class="searchimg"/>
            </div>


        </div>

        <div class="input_rogo">
            <span class="sizecontroll"><a href="/">UHDIYA COFFEE</a></span>
        </div>

        <div class="himg">
            <img src="../img/iced-coffee-hot-brew.gif" id="headimg" />
        </div>

    </div>

    <div class="categori">
        <span><a href="/about">About</span></a>&nbsp;
        <span><a href="#">쇼핑</span></a>&nbsp;
        <span><a href="#">커피</span></a>&nbsp;
        <span><a href="#">스틱커피</span></a>&nbsp;
        <span><a href="#">음료</span></a>&nbsp;
        <span><a href="#">티</span></a>&nbsp;
        <span><a href="#">선물세트</span></a>&nbsp;
        <span><a href="#">케이크</span></a>&nbsp;
        <span><a href="#">게시판</span></a>&nbsp;
    </div>
</body>
</th:block>
</html>