<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UHDIYA STORE - 어디야 스토어</title>

</head>
<body>

<script th:inline="javascript">
	/*<![CDATA[*/

	var result = /*[[ ${result} ]]*/

	
	window.onload = function(){
		if(result != null){
			alert(result);
			
		}
	};
		
	
	/*]]*/
</script>
<script>

</script>

	<div class="header" th:replace="layout/header :: header"></div>
	<div th:align="center">
		<h1>로그인</h1>
		<hr>
		<form name="frm" th:method="post">
			<table border="1" th:cellpadding="0" th:cellspacing="0"
				th:align="center">
				<tr>
					<td bgcolor="orange" th:text="아이디" width="20%" th:align="center"></td>
					<td width="40%">
						<input type="text" name="id" size="50" placeholder="아이디를 입력해주세요." >
					</td>
				</tr>
				<tr>
					<td bgcolor="orange" th:text="암호" width="20%" th:align="center"></td>
					<td width="40%">
						<input type="password" name="pwd" size="50" placeholder="비밀번호를 입력해주세요.">
					</td>
				</tr>
				<tr>
					<td colspan="2" th:align="center">
					
					
					<button th:formaction="@{login}" th:method="post" >
					로그인
					</button>
					
					
					</td>
			</table>
		</form>
	</div>
	<div class="footer" th:replace="layout/footer :: footer"></div>
</body>
</html> 