<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/reset.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UHDIYA STORE - 어디야 스토어</title>
<script th:inline="javascript">
	/*<![CDATA[*/

	var result = /*[[ ${result} ]]*/

	
	window.onload = function(){
		if(result != null){
			alert(result);
			
		}
	};
		
	
	/*]]*/
</script>
</head>
<body>
	<div class="header" th:replace="layout/header :: header"></div>
	<div class="container">
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h1 align="center">내용입니다.</h1>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">뒷부분입니다.</h5>
		<h5 align="center">마지막줄.</h5>
		
	</div>
	<div class="footer" th:replace="layout/footer :: footer"></div>
</body>
</html>